<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <!-- specifies the version of WCF to use-->
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <!--<system.serviceModel>
    <bindings>
      --><!-- Uses wsHttpBinding--><!--
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDeploymentCacheOperations"
                 maxReceivedMessageSize="2000000000"
                 maxBufferPoolSize="200000000">
           <readerQuotas maxDepth="32" maxBytesPerRead="2000000000"
                 maxArrayLength="2000000000" maxStringContentLength="2000000000" />
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IDeploymentCacheOperations"
         maxReceivedMessageSize="2000000000"
         maxBufferPoolSize="200000000">
          <readerQuotas maxDepth="32" maxBytesPerRead="2000000000"
                maxArrayLength="2000000000" maxStringContentLength="2000000000" />
          </binding>
      </netTcpBinding>
    </bindings>
    <client>
      --><!-- specifies the endpoint to use when calling the service --><!--
      <endpoint address="http://localhost:8000/DeploymentCache/"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDeploymentCacheOperations"
          contract="ServiceReference1.IDeploymentCacheOperations" name="WSHttpBinding_IDeploymentCacheOperations">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8004/DeploymentCache/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDeploymentCacheOperations"
        contract="ServiceReference1.IDeploymentCacheOperations" name="NetTcpBinding_IDeploymentCacheOperations">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>-->
  <!--<system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IDeploymentCacheOperations" />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDeploymentCacheOperations" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/DeploymentCache/" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IDeploymentCacheOperations"
        contract="ServiceReference1.IDeploymentCacheOperations" name="WSHttpBinding_IDeploymentCacheOperations">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8004/DeploymentCache/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDeploymentCacheOperations"
        contract="ServiceReference1.IDeploymentCacheOperations" name="NetTcpBinding_IDeploymentCacheOperations">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>-->
</configuration>