<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <!-- specifies the version of WCF to use-->
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IDeploymentCacheOperations" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8002/DeploymentCache/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDeploymentCacheOperations"
        contract="ServiceReference1.IDeploymentCacheOperations" name="NetTcpBinding_IDeploymentCacheOperations">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>